header {
    display: flex;
    background-color: #fff;
    justify-content: center;
    min-height: 8vh;
}

header a {
    text-decoration: none;
}

header h1 {
    color: #ff0b4d;
    font-family: 'Cute Font';
    font-size: 5rem;
    margin: 1rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 70vh;
    padding: 10rem;
}

section p:first-of-type {
    color: #925d6a;
    font-size: 1.5rem;
    font-weight: 500;
    user-select: none;
    margin: 0 0 7.5rem;
}

footer {
    display: flex;
    background-color: #543544;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 18vh;
    padding: 3rem 3rem 4rem;
}

footer p:nth-of-type(1) {
    color: #fff0f5;
    font-size: 1.25rem;
    margin: 0 0 2.5rem;
}

footer p:nth-of-type(2) {
    color: #e0b0c8;
    font-size: 1rem;
}

footer a {
    color: #ff70d9;
}

footer a:visited {
    color: #c04f7e;
}
