@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cute+Font&family=Days+One&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400;500;600;700;800;900&family=Play:wght@400;700&family=Share+Tech&display=swap');


html {
    background-color: #fdf6f7;
}

body {
    font-family: 'Ubuntu Condensed', -apple-system, BlinkMacSystemFont,
        'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
